.wirelessPage {
    margin-top: 10px;
    text-align: center;
}

.radioConfiguration,
.profileForm {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
    padding: 16px 12px;
    text-align: left;
    vertical-align: top;
    width: 90%;
}

.profileForm {
    margin-bottom: 20px;
}

.profileTable {
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 768px) {

    .radioConfiguration,
    .profileForm {
        margin: 20px 10px;
        width: 320px;
    }
}
